* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

html {
    font-size: 62.5%;
}

:root {
    --font-family: "Kaushan Script", cursive;
    --sub-font-family: "Protest Revolution", sans-serif;
}