@import "tailwindcss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

@theme {
    --color-brand: #346065;
    --font-protest: "Protest Revolution", sans-serif;
    --font-kaushan: "Kaushan Script", cursive;
}

@keyframes moveBg {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-40px, -40px);
    }
}